.Search {
  text-align: center;
}
.question {
  font-size: 12px;
  margin-bottom: 0px;
  font-style: italic;
}
.search {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
